@mixin fontGolos ($weight, $fs, $lh, $color) {
  font-family: "Golos Text", "Arial", sans-serif;
  font-style: normal;
  font-size: $fs;
  line-height: $lh;
  font-weight: $weight;
  color: $color;
}

@mixin fontMontserrat ($fs, $lh, $color) {
  font-family: "Montserrat", "Arial", sans-serif;
  font-style: normal;
  font-size: $fs;
  line-height: $lh;
  font-weight: 700;
  color: $color;
}
