// Цвета

$color-brand: #003154;
$color-gray: #8f9090;
$color-border-light: #eaeaea;
$color-border-list: #e1e1e1;
$color-light-dark: #888888;
$color-medium-dark: #404040;
$color-dark: #1e1e1e;
$color-white: #ffffff;
$color-light-bg: #f2f6fb;
$color-gray-bg: #f7f7f8;
$color-accent: #60c0c3;
$color-decor: #d0d0d0;

// Брейкпоинты

$tablet: 768px;
$desktop: 1024px;

