.about {
  display: flex;
  background-color: $color-light-bg;
}

.about__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  @media (min-width: $desktop) {
    flex-direction: row;
    justify-content: space-between;
    max-width: 1440px;
    margin: 0 auto;
  }
}

.about__img {
  display: block;
  height: auto;

  @media (min-width: $desktop) {
    width: 720px;
  }
}

.about__container {
  padding: 46px 0 56px;

  @media (min-width: $desktop) {
    max-width: 418px;
    margin-left: 80px;
    padding: 104px 0;
  }
}

.about__name {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 8px;
  letter-spacing: 0.08em;

  @include fontGolos(600, 12px, 17px, $color-light-dark);

  @media (min-width: $desktop) {
    font-size: 13px;
    line-height: 18px;
  }
}

.about__title {
  margin-bottom: 16px;
}

.about__description {
  margin: 0;
  margin-bottom: 32px;

  @include fontGolos(400, 15px, 26px, $color-medium-dark);
}
