.header__top-menu {
  @media (min-width: $desktop) {
    border-bottom: 1px solid $color-border-light;
    padding-bottom: 7px;
  }
}

.header__container {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 16px 0 12px;

  @media (min-width: $desktop) {
    padding: 20px 0 12px;
  }
}

