.socials {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.socials__item {
  &:not(:last-child) {
    margin-right: 8px;
  }
}

.socials__link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;

  &:focus-visible {
    outline: 1px solid $color-accent;
    outline-offset: 2px;
  }

  &:hover {
    opacity: 0.8;
    transition: all 0.3s;
  }

  &:active {
    opacity: 0.5;
  }
}
